---
import QRCustomizer from "@components/core/QRCustomizer";
import Layout from "@layouts/Layout.astro";
---

<Layout title="QRStyles">

  <section>
    <QRCustomizer client:only="react" />
  </section>

</Layout>
