---
import QRCustomizer from "@components/QRCustomizer.tsx";
import Layout from "@layouts/Layout.astro";
---

<Layout title="QRify">
  <section class="text-center mb-6">
    <p class="text-center text-lg text-gray-600">
      Crea códigos QR personalizados, visuales y únicos — gratis y sin esfuerzo.
    </p>
  </section>

  <section class="max-w-md mx-auto">
    <QRCustomizer client:only="react" />
  </section>

</Layout>
