---
import "@styles/global.css";
const { title = "QRStyles" } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap"
    />
    <link rel="stylesheet" />
  </head>
  <body
    class="flex flex-col justify-between font-sans min-h-dvh
    bg-gradient-to-b from-brand-dark via-brand-light to-brand-default
    text-brand-text transition-colors duration-300"
  >
    <!-- Header -->
    <header
      class="fixed top-0 left-0 right-0 bg-brand-dark/80 backdrop-blur-md shadow-md z-20 border-b border-secondary/70"
    >
      <img src="/QRStyles.svg" alt="QRStyles Logo" class="h-24 mx-auto py-3" />
    </header>

    <!-- Main Content -->
    <main class="mt-36 px-4 w-full max-w-6xl mx-auto">
      <slot />
    </main>

    <!-- Footer -->
    <footer
      class="text-xs text-brand-text/70 py-6 mt-8 border-t border-brand-light"
    >
      <p class="flex items-center justify-center gap-1">
        Hecho por
        <a
          target="_blank"
          rel="noopener noreferrer"
          href="https://pittanapatricio.vercel.app"
          class="inline-flex items-center gap-1 font-medium text-secondary hover:underline"
        >
          <img src="/Logo-PPdevRound(negro).png" alt="Pittana Patricio Dev" class="size-5" />
        </a>
        con Astro. © {new Date().getFullYear()}
      </p>
    </footer>
  </body>
</html>
